# <center>Data Science for Healthcare and Clinical Informatics</center>
# <center> Model Deployment</center>
---

# Serialization

    Serialization คือการแปลง Python objects เป็น Pickle objects(พวก 010101.. อะไรประมาณนี้) 
    เพื่อที่จะสามารถ save แล้วนำไปใช้ต่อที่ไหนก็ได้

Pickle is a module for (de)serialization to **store** a python object into a file and later **load** it back for further use.  

Let's import pickle

In [1]:
import pickle

Python objects can be  
- Variable  
- Function  
- Model  
See more details of picklable and unpicklable object in https://pypi.org/project/dill/

Define a variable x

In [2]:
x = 15

Serializing the variable x to a pickle file x.pkl

In [3]:
xfile = open("x.pkl", "wb")
pickle.dump(x, xfile)
xfile.close()

Deserializing the x.plckle to the variable reload_x.

In [4]:
xfile = open("x.pkl", "rb")
reload_x = pickle.load(xfile)
print(reload_x)

15

Let's try serializing another python object

In [8]:
def calbmi(weight, height):
    return weight / height**2

Exercise (Serialization): Use your knowledge to fill the right commands in None(s).

In [9]:
bmipkl = open("bmi.pkl", "wb")
pickle.dump(calbmi, bmipkl)
bmipkl.close()

Exercise (Deserialization): Use your knowledge to fill the right commands in None(s).

In [11]:
bmipkl = open("bmi.pkl", "rb")
bmicalculator = pickle.load(bmipkl)
print(bmicalculator(72, 1.68))

25.510204081632658

# Modeling  
Let's train the logistic regression by programming using sklearn.

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd

First, read data from csv

In [24]:
df = pd.read_csv("../Data/diabetes.csv")

In [25]:
df.head()

         bmi  gender  age  dm
0  34.461600  female   44   1
1  36.078770  female   40   1
2  34.859968  female   41   1
3  35.575163  female   42   1
4  32.601667  female   43   1

For categorical data, we need variable encoding.

In [26]:
df["gender"] = df["gender"].map({"female": 0, "male": 1}) # map ค่า female เป็น 0 ส่วน male เป็น 1

In [27]:
df.head()

         bmi  gender  age  dm
0  34.461600       0   44   1
1  36.078770       0   40   1
2  34.859968       0   41   1
3  35.575163       0   42   1
4  32.601667       0   43   1

Then data splitting is required for training and testing.

In [44]:
# ดึงข้อมูลมาใส่ใน X และ y
X = df.loc[:, ["bmi", "gender", "age"]].values # ดึงข้อมูลของ "bmi", "gender", "age" ออกมา โดยไม่เอาชื่อColumnมา
y = df["dm"].values.ravel() # ดึงข้อมูล Column สุดท้าย df["dm"]

In [45]:
X

array([[34.46159982,  0.        , 44.        ],
       [36.07877032,  0.        , 40.        ],
       [34.85996844,  0.        , 41.        ],
       [35.57516293,  0.        , 42.        ],
       [32.60166673,  0.        , 43.        ],
       [35.28650342,  0.        , 43.        ],
       [34.04445497,  1.        , 43.        ],
       [35.51789227,  0.        , 41.        ],
       [34.48185861,  0.        , 41.        ],
       [34.68141491,  0.        , 43.        ],
       [36.50011736,  0.        , 41.        ],
       [35.25874775,  1.        , 42.        ],
       [35.05597196,  1.        , 43.        ],
       [34.75321792,  1.        , 44.        ],
       [34.88318649,  0.        , 44.        ],
       [35.91759957,  0.        , 43.        ],
       [34.74723124,  0.        , 42.        ],
       [34.93279688,  0.        , 43.        ],
       [35.87080996,  1.        , 42.        ],
       [33.91488621,  0.        , 43.        ],
       [35.32045531,  0.        , 41.        ],
       [34.16135187,  1.        , 43.        ],
       [35.71335774,  0.        , 43.        ],
       [33.782194  ,  1.        , 43.        ],
       [36.28192996,  1.        , 41.        ],
       [35.6716649 ,  1.        , 44.        ],
       [35.79477526,  0.        , 43.        ],
       [36.46630386,  1.        , 44.        ],
       [33.86759621,  1.        , 43.        ],
       [35.11919153,  1.        , 43.        ],
       [32.19913229,  1.        , 41.        ],
       [32.08084605,  1.        , 39.        ],
       [32.50428939,  0.        , 41.        ],
       [32.12699589,  1.        , 39.        ],
       [34.06086445,  1.        , 40.        ],
       [33.43600012,  1.        , 40.        ],
       [33.0203835 ,  1.        , 39.        ],
       [32.33396402,  1.        , 40.        ],
       [34.43944197,  1.        , 40.        ],
       [33.76570684,  0.        , 37.        ],
       [33.08649123,  1.        , 41.        ],
       [34.39583797,  1.        , 38.        ],
       [33.4632217 ,  1.        , 39.        ],
       [33.03805887,  0.        , 39.        ],
       [33.8847622 ,  0.        , 39.        ],
       [32.3622684 ,  0.        , 41.        ],
       [31.79927377,  1.        , 40.        ],
       [31.74901665,  1.        , 38.        ],
       [33.01775825,  1.        , 38.        ],
       [33.14557862,  1.        , 40.        ],
       [33.24119024,  0.        , 40.        ],
       [33.03081807,  0.        , 40.        ],
       [34.6353498 ,  0.        , 41.        ],
       [32.27196851,  1.        , 40.        ],
       [32.64095876,  0.        , 39.        ],
       [32.9173232 ,  1.        , 39.        ],
       [32.44194388,  0.        , 39.        ],
       [31.49637048,  0.        , 39.        ],
       [33.98248722,  0.        , 38.        ],
       [34.07377554,  0.        , 39.        ],
       [33.17747408,  0.        , 39.        ],
       [34.34641915,  1.        , 39.        ],
       [34.13043463,  0.        , 40.        ],
       [33.20098815,  1.        , 39.        ],
       [33.88786676,  0.        , 40.        ],
       [33.7362001 ,  0.        , 39.        ],
       [35.74115032,  0.        , 39.        ],
       [32.71673755,  1.        , 40.        ],
       [32.55263674,  0.        , 37.        ],
       [32.5691571 ,  1.        , 39.        ],
       [32.68018423,  0.        , 40.        ],
       [33.79286861,  1.        , 40.        ],
       [35.82787959,  0.        , 39.        ],
       [33.46748191,  0.        , 39.        ],
       [33.84194358,  1.        , 39.        ],
       [33.37490547,  0.        , 40.        ],
       [32.93689901,  1.        , 40.        ],
       [33.40756281,  0.        , 39.        ],
       [33.3814271 ,  1.        , 38.        ],
       [31.68396841,  1.        , 41.        ],
       [34.09706638,  0.        , 41.        ],
       [33.79670065,  1.        , 38.        ],
       [33.57800294,  1.        , 41.        ],
       [33.94182497,  1.        , 37.        ],
       [33.1819515 ,  1.        , 38.        ],
       [32.11952462,  1.        , 36.        ],
       [33.8294996 ,  0.        , 41.        ],
       [33.23243895,  1.        , 36.        ],
       [34.5457829 ,  0.        , 39.        ],
       [32.46560718,  1.        , 40.        ],
       [33.40422711,  0.        , 39.        ],
       [33.81924363,  1.        , 40.        ],
       [32.76110058,  1.        , 40.        ],
       [33.24779025,  1.        , 40.        ],
       [32.05171322,  1.        , 40.        ],
       [33.6028099 ,  1.        , 41.        ],
       [31.92432472,  0.        , 41.        ],
       [32.65714263,  0.        , 39.        ],
       [31.62951591,  1.        , 38.        ],
       [31.31556445,  0.        , 40.        ]])

In [46]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [49]:
# แบ่ง Data ที่ใช้ train กับ test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y) 

# test_size = 0.2    --> test = 20% และ train = 80% ขนาดสัดส่วนของข้อมูล test ต่อข้อมูล train
# random_state = 42  --> ค่า seed ที่กำหนดการ random กลุ่มข้อมูล ช่วยในการเมื่อมีการแก้ไขจะทำให้แก้ไขการทดลองได้ง่ายขึ้น
# stratify = y       --> การกำหนดการกระจายของข้อมูลที่ split ให้มีการกระจายเหมือน original dataset
# คำอธิบายมาจากในคาบ และ https://mtreerungroj.medium.com/machine-learning-supervised-learning-with-basic-scikit-learn-part1-99b8b2327c9

For simplicity and managable time in this microcredit class, we will do a very simple model training without cross validation.

In [50]:
# สร้าง model
clf = LogisticRegression().fit(X_train, y_train)

Now we can serialize our model to a pkl file

In [51]:
# ใส่ไปใน  pkl file
logreg = open("logreg.pkl", "wb")
pickle.dump(clf, logreg)
logreg.close()

เพื่อเอาไปใช้ต่อใน Web App (ในที่นี้คือ app.py)

---